{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card center-align">
            <div class="card-content">
                <i class="material-icons green-text" style="font-size: 80px;">check_circle</i>
                <span class="card-title">¡Compra Exitosa!</span>
                <p>Tu boleto para <b>{{ ticket.ticket_type.event.title }}</b> ha sido generado.</p>
                <div style="margin-top: 20px;">
                    {% if ticket.id %}
                        <img src="data:image/png;base64,{{ ticket.get_qr_base64 }}" alt="Código QR del Boleto" style="width: 250px; border: 1px solid #eee;">
                    {% endif %}
                </div>
                <p style="margin-top: 15px; font-family: monospace;">UUID: {{ ticket.id }}</p>
                <p>
                    <b>Blockchain Tx:</b> {{ ticket.eth_transaction_hash|default:"Pendiente" }}
                </p>
            </div>
            <div class="card-action">
                <a href="{% url 'download_ticket' ticket.id %}" target="_blank" class="btn green darken-2" style="margin-right: 10px;"><i class="material-icons left">picture_as_pdf</i>Descargar Boleto PDF</a>
                <a href="/" class="btn blue darken-2">Volver a Eventos</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
